/* header */
body{
    background-color: rgb(131, 131, 131);
    box-shadow: inset 0px 0px 100px 50px black;
    height: 100vh;
}
#header{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
}
/* header */
/* main */
main{
    color: #ffffff;
}
.Faze_txt{
    backdrop-filter: drop-shadow;
}
.btn_Fase01{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100px;
}
/* main */